.codificado{
    background: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    padding: 16px;
    width: 35%;
}

@media screen and (max-width:480px) {
    .codificado{
        height: calc(40% - 32px);
        margin: 8px;
        padding: 8px;
        width: calc(100% - 32px);
    }
}