
.codificado__text{
    width: calc(100% - 16px);
    height: 50%;
    border: none;
    font-family: var(--font-contenido);
    font-size: var(--md);
    padding: 8px;
    resize: none;
}

@media screen and (max-width:480px) {
    .codificado__text{
        height: 220px;
        padding: 8px;
        width: calc(100% - 16px);
    }
}