.acodificar__advertencia{
    margin: auto auto 8px 0;
}
.acodificar__advertencia:nth-child(3){
    margin: 8px auto 8px 0;
}

@media screen and (max-width:480px){
    .acodificar__advertencia{
        margin: 8px 0 0;
    }
    .acodificar__advertencia:nth-child(3){
        margin: 8px 0 0;
    }
}