.btn__encriptar{
    background-color: var(--darkblue);
    color: var(--lighblue);
    margin-right: 4px;
    width: 50%;
}

.btn__encriptar:hover{
    background-color: var(--lighgray);
}

.btn__desencriptar{
    background-color: var(--white);
    color: var(--darkblue);
    margin-left: 4px;
    width: 50%;
}

.btn__desencriptar:hover{
    background-color: var(--lighgray);
    color: var(--white);
}

@media screen and (max-width: 480px) {
    .btn__encriptar{
        margin: 4px;
        width: 100%;
    }

    .btn__desencriptar{
        margin: 4px;
        width: 100%;
    }
}

@media screen and (min-width: 540px) and (max-width: 1024px) {
    
}