.acodificar{
    display: flex;
    flex-direction: column;
    margin: 7rem 5rem 0 0;
    padding: 8px;
    width: 50%;
}

@media screen and (max-width:480px){
    .acodificar{
        margin: 0;
        padding: 8px;
        width: calc(100% - 16px);
        height: calc(50% - 16px);
    }
}