.acodificar{
    display: flex;
    flex-direction: column;
    margin: 7rem 5rem 0 0;
    padding: 8px;
    width: 50%;
}

#reiniciar-Textos{
    align-self: flex-end;
    border: 1px solid var(--lighgray);
    border-radius: 16px;
    padding: 4px 8px;
    position: absolute;
}

@media screen and (max-width:480px){
    .acodificar{
        margin: 0;
        padding: 8px;
        width: calc(100% - 16px);
        height: calc(50% - 16px);
    }
}

@media screen and (min-width:540px) and (max-width: 1024px){
    .acodificar{
        margin: 0 auto;
        width: 80%;
        height: calc(45% - 16px);
    }
}