.acodificar__text{
    background: var(--lighblue);
    border: none;
    color: var(--darkblue);
    font-family: var(--font-contenido);
    font-size: var(--xlg);
    font-weight: 600;
    height: 45%;
    padding: 12px;
    width: calc(100% - 20px);
    resize: none;
}

@media screen and (max-width:480px){
    .acodificar__text{
        height: 240px;
        font-size: var(--md);
    }
}